.task {
    display: flex;
    flex-direction: row;   
    padding: 5px;
    min-height: 60px;
}

.taskInfo {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.taskAction {
    display: flex;
    flex-direction: column;
}

.isDone {
    background: repeating-linear-gradient(
        25deg, 
        rgba(177, 177, 177, 0.60), 
        rgba(177, 177, 177, 0.60) 15px, 
        white 15px, 
        white 30px
    );
}

.urgent {
    color: crimson;
}

.isDone .urgent {
    color: rgb(255, 91, 91);
}